/*Landing Styles*/
#home-landing{
    padding-top: 10px;
    padding-bottom: 100px;
    
    display: flex;
    align-items: center;
    background: url('../Assets/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#home-landing > div {   
    padding: 20px;
}
.leading{
    font-size: 40px;
}
.sub-leading{
    font-size: 22px;
}
.sub-leading.location{
    margin-bottom: -10px;
}
#home-landing > div > img{
    width: 40vh;
}
.button-book{
    margin-top: 50px;
    display: flex;
    align-items: center;
}


/*Work*/
#work{
    padding-top: 10%;
    border-top: solid white 3px;
}
#workIMG{
    background: url('../Assets/Images/apply_with_us.JPG');
    background-size: cover;
    height: 80vh;
    margin-right: 30px;
}
#workText{
    margin-top: 10%;
}
#workText > .fancy-heading{
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}
#workText > .fancy-subheading{
    text-align: center;
}
@media only screen and (max-width: 767px){
    .button-book{
        display: block;
       
    }
    #home-landing{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
}