#navigationBar{
    position: absolute;
    width: 100%;
    position: fixed;
    height: 80px;
    
    z-index: 1;
    top: 0;
}
.logoImage{
    width: 100px;
    z-index: 10;
}
.logo-spot  > .logoImage{
   margin-top: -20px;
   margin-left: 30px;
   margin-right: 5px;
}
.leftNav{
    float: left;
    padding-top: 25px;
    display: flex;
}
.rightNav{
    padding-top: 20px;
    padding-right: 10px;
    float: right;
    display: flex;
}
.navItem{
    margin-right: 50px;
}/*1181*/

@media only screen and (max-width: 1181px){
    #navigationBar{
        display: none;
    }
}

