.book{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.51) 42.19%, rgba(128, 0, 0, 0.51) 83.33%), url("../Assets/Images/book.JPG");
    background-size: cover;
    background-position: center;
    padding-top: 10%;
    height: 100vh;
    overflow: scroll;

}
.bookWithUs{
    display: flex;
}
.book-cards{
    display: flex;
    padding: 0px 60px 60px 60px;
    transition: .4s;
}



.book-title{
    text-align: center;
    border-bottom: solid white 1px;
}
.book-info{
    margin-left: 5px;
    margin-right: 5px;
    transition: .4s;
}
.book-info:hover{
    backdrop-filter: blur(10px) !important;
    z-index: 1;
    transform: scale(1.2) !important;
}
#titoStyling > tito-button > .tito-widget-button{
    font-size: 25px;
}
#titoStyling > tito-button > .tito-widget-button:hover{
    
}
.center{
    text-align: center;
}
.price{
    text-align: center;
}
@media only screen and (max-width: 606px){
    .book{
        padding: 0px;
    }
}
@media only screen and (max-width: 911px){
    .book-cards{
        display: none;
    }


}
@media only screen and (max-width: 586px){
    .book{
        padding-top:20%;
    }

}